:host ::ng-deep {
    .pagination-container {
        height: 27px;
        background-color: #FFFFFF;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;

        .form-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 2px;
        }

        .ui-button {
            border: none;
            background-color: inherit;
            box-shadow: none;
        }

        .pagination-previous {
            margin: 0 36px 0 25px;
        }

        .pagination-next {
            margin: 0 25px 0 36px;
        }

        .pagination-page-number {
            font-size: 11px;
        }

        .pagination-current-page {
            display: inline;
            margin-right: 2px;
        }

        .current-page-input {
            width: 35px;
            height: 15px;
            border: 11px solid #BEC8D2;
            border-radius: 3px;
            text-align: center;
        }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
            padding: 0;
        }
    }
}

p-table + :host .pagination-container,
.table-with-pagination-shadow-wrapper :host .pagination-container {
    box-shadow: none;
    border-top: 1px solid #707070;
    position: relative;
    top: -1px;
    z-index: 1;
}
