:host ::ng-deep {
  tbody > tr > td {
    img {
      width: 100px;
      height: 100px;
    }

    font-size: x-large;
  }
}

.poster-column {
  width: 140px;
}

.year-column {
  width: 200px;
}

.movie-year {
  text-align: center;
  vertical-align: middle;
}
